# Django
DJANGO_SECRET_KEY=genera-una-clave-nueva-segura-aqui
DJANGO_DEBUG=False

# Base de datos
DB_ENGINE=django.db.backends.mysql
DB_NAME=leyvap3-db
DB_USER=tu_usuario_db
DB_PASSWORD=tu_contraseña_segura
DB_HOST=localhost
DB_PORT=3306
